[Unit]
Description=Install ABRT coredump hook
After=abrtd.service
Requisite=abrtd.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/abrt-install-ccpp-hook install
ExecStop=/usr/sbin/abrt-install-ccpp-hook uninstall
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
