[Unit]
Description=ABRT Daemon

[Service]
Type=dbus
BusName=org.freedesktop.problems.daemon
ExecStartPre=/usr/bin/bash -c "pkill abrt-dbus || :"
ExecStart=/usr/sbin/abrtd -d -s

[Install]
WantedBy=multi-user.target
