[Unit]
Description=ABRT Xorg log watcher
After=abrtd.service
Requisite=abrtd.service

[Service]
# systemd requires absolute paths to executables
ExecStart=/usr/bin/abrt-dump-journal-xorg -fxtD

[Install]
WantedBy=multi-user.target
