[Unit]
Description=ABRT kernel log watcher
After=abrtd.service
Requires=abrtd.service

[Service]
ExecStart=/usr/bin/abrt-watch-log /var/log/messages -- /usr/bin/abrt-dump-oops -xD

[Install]
WantedBy=multi-user.target
