[Unit]
Description=ABRT Automated Bug Reporting Tool
After=syslog.target

[Service]
ExecStart=/usr/sbin/abrtd -d -s

[Install]
WantedBy=multi-user.target
