[Unit]
Description=ABRT kernel oops pstore collector
After=abrtd.service
Requisite=abrtd.service
ConditionDirectoryNotEmpty=/sys/fs/pstore

[Service]
Type=oneshot
ExecStart=/usr/sbin/abrt-harvest-pstoreoops
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
