# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.

# normal rules
*.o
*.lo
*.la

# ignore binaries
src/applet/abrt-applet
src/configuration-gui/system-config-abrt
src/daemon/abrt-action-save-package-data
src/daemon/abrt-auto-reporting
src/daemon/abrt-server
src/daemon/abrtd
src/daemon/abrt-handle-event
src/daemon/abrt-handle-upload
src/daemon/abrt-dbus
src/daemon/abrt-upload-watch
src/dbus/abrt-dbus
src/dbus/abrt-configuration
src/gui-gtk/abrt-gui
src/plugins/abrt-action-analyze-backtrace
src/plugins/abrt-action-analyze-c
src/plugins/abrt-action-analyze-ccpp-local
src/plugins/abrt-action-analyze-core
src/plugins/abrt-action-analyze-oops
src/plugins/abrt-action-analyze-python
src/plugins/abrt-action-analyze-vmcore
src/plugins/abrt-action-analyze-xorg
src/plugins/abrt-action-check-oops-for-hw-error
src/plugins/abrt-action-check-oops-for-alt-component
src/plugins/abrt-action-generate-backtrace
src/plugins/abrt-action-install-debuginfo-to-abrt-cache
src/plugins/abrt-action-perform-ccpp-analysis
src/plugins/abrt-action-trim-files
src/plugins/abrt-watch-log
src/plugins/abrt-dump-oops
src/plugins/abrt-journal-dump-oops
src/plugins/abrt-dump-xorg
src/plugins/abrt-retrace-client
src/plugins/abrt-action-install-debuginfo
src/plugins/abrt-action-generate-core-backtrace
src/plugins/abrt-bodhi
src/python-problem/problem/config.py
src/python-problem/tests/*.log
src/python-problem/tests/*.trs
src/hooks/abrt_exception_handler.py
src/hooks/abrt_exception_handler3.py
src/hooks/abrt-harvest-vmcore
src/hooks/abrt-merge-pstoreoops
src/hooks/abrt-harvest-pstoreoops
src/hooks/abrt-hook-ccpp
src/hooks/abrt-install-ccpp-hook
src/applet/abrt-applet.desktop
src/gui-gtk/abrt.desktop
src/cli/abrt-cli

# cscope files
cscope.*
ncscope.*

# gnu global files
GPATH
GRTAGS
GSYMS
GTAGS

# autotools
.deps
.libs
Makefile
Makefile.in
m4
missing
ABOUT-NLS
aclocal.m4
autom4te.cache
config.guess
config.log
config.h
config.h.in
config.rpath
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
py-compile
stamp-h1
ar-lib
compile
test-driver

# pc files
src/configuration-gui/abrt_gui.pc
abrt.pc

# retrace server doc
doc/mdate-sh
doc/stamp-vti
doc/texinfo.tex
doc/version.texi
doc/abrt-retrace-server.info

# po files
po/Makevars.template
po/notexist
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/stamp-po
po/stamp-it
po/*.gmo
po/.intltool-merge-cache
po/abrt.pot

# generaged translated xml conf files
*.xml

# compiled python files
*.pyc

# misc
\#*
*~
abrt.spec
abrt-version
apidoc/Doxyfile

# autogenerated soure file
src/gui-wizard-gtk/wizard_glade.c

# generated man pages
*.[1,5,8]

# generated files for Problems Service API specification
doc/problems-service/html/*.html
doc/problems-service/html/specification.proc

# generated files form testsuite
testsuite*
tests/atconfig
tests/atlocal
tests/package.m4

# if you want to enable them, be aware of that 'git clean -df' won't clean them
# and you have to do it *manually*
# x86_64/
# abrt-*.rpm
# abrt-?.?.*.tar.gz
# abrt-?.?.*/
# i686/

# python API docs builddir
src/python-problem/doc/_build/
build/*
