\#*
cscope.out
*.o
*.lo
*.la
po/*.gmo
.deps
.libs
*~
Makefile
Makefile.in
m4
missing
ABOUT-NLS
aclocal.m4
autom4te.cache
config.guess
config.log
config.h
config.h.in
config.rpath
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
ylwrap
po/Makevars.template
po/POTFILES
po/Rules-quot
po/abrt.pot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/stamp-po
py-compile
src/Applet/abrt-applet
src/CLI/abrt-cli
src/Backtrace/abrt-backtrace
src/Daemon/abrtd
src/Hooks/abrt_exception_handler.py
src/Hooks/dumpoops
src/Hooks/hookCCpp
src/Hooks/abrt-pyhook-helper
stamp-h1
