\#*
cscope.out
*.o
*.lo
*.la
abrt-*.rpm
abrt-?.?.*.tar.gz
abrt-?.?.*/
i686/
po/*.gmo
.deps
.libs
*~
Makefile
Makefile.in
m4
missing
ABOUT-NLS
abrt.pc
aclocal.m4
autom4te.cache
config.guess
config.log
config.h
config.h.in
config.rpath
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
ylwrap
po/Makevars.template
po/POTFILES
po/Rules-quot
po/abrt.pot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/stamp-po
po/stamp-it
py-compile
scripts/*.bt
src/applet/abrt-applet
src/applet/abrt-applet.desktop
src/cli/abrt-cli
src/utils/abrt-backtrace
lib/utils/backtrace_parser.c
lib/utils/backtrace_parser.output
src/daemon/abrtd
src/gui/abrt.desktop
src/hooks/abrt_exception_handler.py
src/hooks/dumpoops
src/hooks/abrt-hook-ccpp
scripts/abrt-rate-backtrace
stamp-h1
x86_64/
*.pyc
