doc/*.log
doc/*.aux
doc/*.out
doc/*.synctex.gz
doc/*.toc
doc/*.tikz
doc/*.4ct
doc/*.4tc
doc/*.css
doc/*.dvi
doc/*.html
doc/*.idv
doc/*.lg
doc/*.tmp
doc/*.xref
doc/fig
src
pgf-umlsd.sty
test
examples/*.log
examples/*.aux
examples/*.out
examples/*.synctex.gz
examples/*.toc
examples/*.tikz
examples/*.4ct
examples/*.4tc
examples/*.css
examples/*.dvi
examples/*.html
examples/*.idv
examples/*.lg
examples/*.tmp
examples/*.xref
