<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">

<!--
PolicyKit policy definitions for ABRT

Copyright (c) 2009 Daniel Novotny <dnovotny@redhat.com>
Copyright (c) 2009 Red Hat inc.

-->

<policyconfig>
  <vendor>The ABRT Team</vendor>
  <vendor_url>https://fedorahosted.org/abrt/</vendor_url>

  <action id="org.fedoraproject.abrt.change-daemon-settings">
    <description>Manage settings</description>
    <message>Changing the global settings requires authentication</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_active>auth_admin_keep</allow_active>
      <allow_inactive>no</allow_inactive>
    </defaults>
  </action>

  <!-- install-debuginfos: default yes, administrator can change this -->
  <action id="org.fedoraproject.abrt.install-debuginfos">
    <description>Install debuginfos</description>
    <message>Installing debuginfos requires authentication</message>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_active>yes</allow_active>
      <allow_inactive>yes</allow_inactive>
    </defaults>
  </action>
</policyconfig>
