Nov 19 12:33:40 :HOSTNAME: auditd[1632]: Init complete, auditd 2.0.1 listening for events (startup state enable)
Nov 19 12:33:59 :HOSTNAME: restorecond: Unable to watch (/home/jmoskovc/public_html/*) No such file or directory
Nov 19 12:34:38 :HOSTNAME: kernel: [drm] Num pipes: 1
Nov 19 12:34:38 :HOSTNAME: kernel: Process 1473(Xorg) has RLIMIT_CORE set to 0
Nov 19 12:34:38 :HOSTNAME: kernel: Aborting core
Nov 19 12:34:38 :HOSTNAME: kernel: general protection fault: 0000 [#1] SMP
Nov 19 12:34:38 :HOSTNAME: kernel: last sysfs file: /sys/devices/system/cpu/cpu0/cpufreq/scaling_cur_freq
Nov 19 12:34:38 :HOSTNAME: kernel: CPU 0
Nov 19 12:34:38 :HOSTNAME: kernel: Modules linked in: ipt_MASQUERADE iptable_nat nf_nat bridge stp llc sunrpc xt_physdev ip6t_REJECT nf_conntrack_ipv6 ip6table_filter ip6_tables ipv6 cpufreq_ondemand acpi_cpufreq freq_table dm_multipath kvm_intel kvm snd_hda_codec_analog snd_hda_intel snd_hda_codec btusb snd_hwdep joydev ppdev bluetooth snd_seq arc4 snd_seq_device i2c_i801 thinkpad_acpi hwmon ecb parport_pc irda parport crc_ccitt snd_pcm iTCO_wdt iTCO_vendor_support iwl3945 iwlcore snd_timer snd mac80211 soundcore e1000e cfg80211 snd_page_alloc rfkill yenta_socket rsrc_nonstatic video output radeon ttm drm_kms_helper drm i2c_algo_bit i2c_core [last unloaded: microcode]
Nov 19 12:34:38 :HOSTNAME: kernel: Pid: 1473, comm: Xorg Not tainted 2.6.32-0.51.rc7.git2.fc13.x86_64 #1 2007CTO
Nov 19 12:34:38 :HOSTNAME: kernel: RIP: 0010:[<ffffffffa006c13c>]  [<ffffffffa006c13c>] radeon_read_ring_rptr+0x30/0x34 [radeon]
Nov 19 12:34:38 :HOSTNAME: kernel: RSP: 0018:ffff88007a7c5ad0  EFLAGS: 00010202
Nov 19 12:34:38 :HOSTNAME: kernel: RAX: ffff88006d9a7110 RBX: ffff880037f918d8 RCX: ffffc900068a8000
Nov 19 12:34:38 :HOSTNAME: kernel: RDX: 0000000000000028 RSI: 6b6b6b6b6b6b6b6b RDI: ffff880037f918d8
Nov 19 12:34:38 :HOSTNAME: kernel: RBP: ffff88007a7c5ad0 R08: ffff880037f91ae8 R09: 0000000000000010
Nov 19 12:34:38 :HOSTNAME: kernel: R10: ffffffffffffffff R11: 0000000000000000 R12: 0000000000000010
Nov 19 12:34:38 :HOSTNAME: kernel: R13: ffff88007950e1b0 R14: ffff880037f91a58 R15: ffff88007950e3a0
Nov 19 12:34:38 :HOSTNAME: kernel: FS:  00007fbb5a7797e0(0000) GS:ffff880006000000(0000) knlGS:0000000000000000
Nov 19 12:34:38 :HOSTNAME: kernel: CS:  0010 DS: 0000 ES: 0000 CR0: 0000000080050033
Nov 19 12:34:38 :HOSTNAME: kernel: CR2: 00000000005a450c CR3: 0000000001001000 CR4: 00000000000026f0
Nov 19 12:34:38 :HOSTNAME: kernel: DR0: 0000000000000000 DR1: 0000000000000000 DR2: 0000000000000000
Nov 19 12:34:38 :HOSTNAME: kernel: DR3: 0000000000000000 DR6: 00000000ffff0ff0 DR7: 0000000000000400
Nov 19 12:34:38 :HOSTNAME: kernel: Process Xorg (pid: 1473, threadinfo ffff88007a7c4000, task ffff880079058000)
Nov 19 12:34:38 :HOSTNAME: kernel: Stack:
Nov 19 12:34:38 :HOSTNAME: kernel: ffff88007a7c5ae0 ffffffffa006c156 ffff88007a7c5af8 ffffffffa006c881
Nov 19 12:34:38 :HOSTNAME: kernel: <0> ffff880037f918d8 ffff88007a7c5b18 ffffffffa006d84a 0000000000000000
Nov 19 12:34:38 :HOSTNAME: kernel: <0> ffff880037f918d8 ffff88007a7c5b38 ffffffffa00709e5 ffff880037f918d8
Nov 19 12:34:38 :HOSTNAME: kernel: Call Trace:
Nov 19 12:34:38 :HOSTNAME: kernel: [<ffffffffa006c156>] radeon_get_ring_head+0x16/0x41 [radeon]
Nov 19 12:34:38 :HOSTNAME: kernel: [<ffffffffa006c881>] radeon_commit_ring+0x4d/0x9c [radeon]
Nov 19 12:34:38 :HOSTNAME: kernel: [<ffffffffa006d84a>] radeon_do_cp_idle+0x145/0x152 [radeon]
Nov 19 12:34:38 :HOSTNAME: kernel: [<ffffffffa00709e5>] radeon_apply_surface_regs+0x27/0x13d [radeon]
Nov 19 12:34:38 :HOSTNAME: kernel: [<ffffffffa0070bdd>] free_surface+0xe2/0xf8 [radeon]
Nov 19 12:34:38 :HOSTNAME: kernel: [<ffffffffa0076284>] radeon_driver_lastclose+0x41/0x5b [radeon]
Nov 19 12:34:38 :HOSTNAME: kernel: [<ffffffffa0018f04>] drm_lastclose+0x4f/0x2a0 [drm]
Nov 19 12:34:38 :HOSTNAME: kernel: [<ffffffffa0019997>] drm_release+0x4d6/0x510 [drm]
Nov 19 12:34:38 :HOSTNAME: kernel: [<ffffffff8112b3db>] __fput+0x12a/0x1df
Nov 19 12:34:38 :HOSTNAME: kernel: [<ffffffff8112b4aa>] fput+0x1a/0x1c
Nov 19 12:34:38 :HOSTNAME: kernel: [<ffffffff81127715>] filp_close+0x68/0x72
Nov 19 12:34:38 :HOSTNAME: kernel: [<ffffffff8105b4be>] put_files_struct+0x6a/0xcc
Nov 19 12:34:38 :HOSTNAME: kernel: [<ffffffff8105b55b>] exit_files+0x3b/0x40
Nov 19 12:34:38 :HOSTNAME: kernel: [<ffffffff8105ce2b>] do_exit+0x25e/0x77f
Nov 19 12:34:38 :HOSTNAME: kernel: [<ffffffff810891d1>] ? lockstat_clock+0x11/0x13
Nov 19 12:34:38 :HOSTNAME: kernel: [<ffffffff8147cabb>] ? _spin_unlock_irq+0x30/0x3c
Nov 19 12:34:38 :HOSTNAME: kernel: [<ffffffff8105d3d0>] do_group_exit+0x84/0xb0
Nov 19 12:34:38 :HOSTNAME: kernel: [<ffffffff8106e1ad>] get_signal_to_deliver+0x356/0x375
Nov 19 12:34:38 :HOSTNAME: kernel: [<ffffffff81011042>] do_signal+0x72/0x6af
Nov 19 12:34:38 :HOSTNAME: kernel: [<ffffffff81011caa>] ? sysret_check+0x2e/0x69
Nov 19 12:34:38 :HOSTNAME: kernel: [<ffffffff8108a863>] ? trace_hardirqs_on_caller+0x111/0x135
Nov 19 12:34:38 :HOSTNAME: kernel: [<ffffffff810b568e>] ? audit_syscall_entry+0x11e/0x14a
Nov 19 12:34:38 :HOSTNAME: kernel: [<ffffffff8147c67d>] ? trace_hardirqs_on_thunk+0x3a/0x3f
Nov 19 12:34:38 :HOSTNAME: kernel: [<ffffffff81011d09>] ? sysret_signal+0x5/0x4e
Nov 19 12:34:38 :HOSTNAME: kernel: [<ffffffff810116a9>] do_notify_resume+0x2a/0x7c
Nov 19 12:34:38 :HOSTNAME: kernel: [<ffffffff81011fc1>] int_signal+0x12/0x17
Nov 19 12:34:38 :HOSTNAME: kernel: Code: 1f 44 00 00 f6 87 0e 04 00 00 08 48 8b 87 10 01 00 00 74 0a 89 f6 48 03 70 18 8b 06 eb 0f c1 ee 02 89 f6 48 c1 e6 02 48 03 70 18 <8b> 06 c9 c3 55 48 89 e5 0f 1f 44 00 00 83 7f 74 00 74 09 31 f6
Nov 19 12:34:38 :HOSTNAME: kernel: RIP  [<ffffffffa006c13c>] radeon_read_ring_rptr+0x30/0x34 [radeon]
Nov 19 12:34:38 :HOSTNAME: kernel: RSP <ffff88007a7c5ad0>
Nov 19 12:34:38 :HOSTNAME: kernel: ---[ end trace f1c5b8d28f1b5165 ]---
Nov 19 12:34:38 :HOSTNAME: kernel: Fixing recursive fault but reboot is needed!
Nov 19 12:34:56 :HOSTNAME: dnsmasq[1471]: reading /etc/resolv.conf
Nov 19 12:34:56 :HOSTNAME: dnsmasq[1471]: using nameserver 10.11.255.27#53
Nov 19 12:34:56 :HOSTNAME: dnsmasq[1471]: using nameserver 10.34.255.7#53
Nov 19 12:34:56 :HOSTNAME: dnsmasq[1471]: using nameserver 10.32.63.5#53
Nov 19 12:34:56 :HOSTNAME: dnsmasq[1471]: using nameserver 10.34.32.125#53
Nov 19 12:35:05 :HOSTNAME: init: tty4 main process (1411) killed by TERM signal
Nov 19 12:35:05 :HOSTNAME: init: tty5 main process (1412) killed by TERM signal
Nov 19 12:35:05 :HOSTNAME: init: tty2 main process (1413) killed by TERM signal
Nov 19 12:35:05 :HOSTNAME: init: tty3 main process (1416) killed by TERM signal
Nov 19 12:35:05 :HOSTNAME: init: tty6 main process (1417) killed by TERM signal
Nov 19 12:37:09 :HOSTNAME: dnsmasq[1530]: reading /etc/resolv.conf
Nov 19 12:37:09 :HOSTNAME: dnsmasq[1530]: using nameserver 10.11.255.27#53
Nov 19 12:37:09 :HOSTNAME: dnsmasq[1530]: using nameserver 10.34.255.7#53
Nov 19 12:37:09 :HOSTNAME: dnsmasq[1530]: using nameserver 10.32.63.5#53
Nov 19 12:37:09 :HOSTNAME: dnsmasq[1530]: using nameserver 10.34.32.125#53
Nov 19 12:38:08 :HOSTNAME: abrtd: Directory 'kerneloops-1258630688-1' creation detected
Nov 19 12:38:08 :HOSTNAME: abrtd: Getting local universal unique identification
Nov 19 12:38:08 :HOSTNAME: abrtd: New crash, saving
Nov 19 12:39:46 :HOSTNAME: abrtd: Getting crash infos...
Nov 19 12:39:51 :HOSTNAME: abrtd: Creating report...
Nov 19 12:39:51 :HOSTNAME: abrtd: Getting local universal unique identification
Nov 19 12:39:51 :HOSTNAME: abrtd: Getting local universal unique identification
Nov 19 12:39:52 :HOSTNAME: kernel: [drm] Num pipes: 1
Nov 19 12:39:52 :HOSTNAME: kernel: Process 1525(Xorg) has RLIMIT_CORE set to 0
Nov 19 12:39:52 :HOSTNAME: kernel: Aborting core
Nov 19 12:39:52 :HOSTNAME: kernel: general protection fault: 0000 [#1] SMP
Nov 19 12:39:52 :HOSTNAME: kernel: last sysfs file: /sys/devices/system/cpu/cpu0/cpufreq/scaling_cur_freq
Nov 19 12:39:52 :HOSTNAME: kernel: CPU 0
Nov 19 12:39:52 :HOSTNAME: kernel: Modules linked in: ipt_MASQUERADE iptable_nat nf_nat bridge stp llc sunrpc xt_physdev ip6t_REJECT nf_conntrack_ipv6 ip6table_filter ip6_tables ipv6 cpufreq_ondemand acpi_cpufreq freq_table dm_multipath kvm_intel kvm arc4 snd_hda_codec_analog ecb snd_hda_intel snd_hda_codec iwl3945 snd_hwdep iwlcore snd_seq snd_seq_device mac80211 snd_pcm btusb snd_timer bluetooth snd iTCO_wdt soundcore iTCO_vendor_support ppdev thinkpad_acpi cfg80211 e1000e snd_page_alloc joydev i2c_i801 parport_pc irda hwmon parport rfkill crc_ccitt yenta_socket rsrc_nonstatic video output radeon ttm drm_kms_helper drm i2c_algo_bit i2c_core [last unloaded: microcode]
Nov 19 12:39:52 :HOSTNAME: kernel: Pid: 1525, comm: Xorg Not tainted 2.6.32-0.51.rc7.git2.fc13.x86_64 #1 2007CTO
Nov 19 12:39:52 :HOSTNAME: kernel: RIP: 0010:[<ffffffffa006c13c>]  [<ffffffffa006c13c>] radeon_read_ring_rptr+0x30/0x34 [radeon]
Nov 19 12:39:52 :HOSTNAME: kernel: RSP: 0018:ffff88007a3d9ad0  EFLAGS: 00010202
Nov 19 12:39:52 :HOSTNAME: kernel: RAX: ffff88007a398198 RBX: ffff88007921b1b0 RCX: ffffc90006952000
Nov 19 12:39:52 :HOSTNAME: kernel: RDX: 0000000000000028 RSI: 6b6b6b6b6b6b6b6b RDI: ffff88007921b1b0
Nov 19 12:39:52 :HOSTNAME: kernel: RBP: ffff88007a3d9ad0 R08: ffff88007921b3c0 R09: 0000000000000010
Nov 19 12:39:52 :HOSTNAME: kernel: R10: ffffffffffffffff R11: 0000000000000000 R12: 0000000000000010
Nov 19 12:39:52 :HOSTNAME: kernel: R13: ffff8800794dd168 R14: ffff88007921b330 R15: ffff8800794dd358
Nov 19 12:39:52 :HOSTNAME: kernel: FS:  00007fb32c7687e0(0000) GS:ffff880006000000(0000) knlGS:0000000000000000
Nov 19 12:39:52 :HOSTNAME: kernel: CS:  0010 DS: 0000 ES: 0000 CR0: 0000000080050033
Nov 19 12:39:52 :HOSTNAME: kernel: CR2: 00000000007cc4b0 CR3: 0000000001001000 CR4: 00000000000026f0
Nov 19 12:39:52 :HOSTNAME: kernel: DR0: 0000000000000000 DR1: 0000000000000000 DR2: 0000000000000000
Nov 19 12:39:52 :HOSTNAME: kernel: DR3: 0000000000000000 DR6: 00000000ffff0ff0 DR7: 0000000000000400
Nov 19 12:39:52 :HOSTNAME: kernel: Process Xorg (pid: 1525, threadinfo ffff88007a3d8000, task ffff880069d4c9c0)
Nov 19 12:39:52 :HOSTNAME: kernel: Stack:
Nov 19 12:39:52 :HOSTNAME: kernel: ffff88007a3d9ae0 ffffffffa006c156 ffff88007a3d9af8 ffffffffa006c881
Nov 19 12:39:52 :HOSTNAME: kernel: <0> ffff88007921b1b0 ffff88007a3d9b18 ffffffffa006d84a 0000000000000000
Nov 19 12:39:52 :HOSTNAME: kernel: <0> ffff88007921b1b0 ffff88007a3d9b38 ffffffffa00709e5 ffff88007921b1b0
Nov 19 12:39:52 :HOSTNAME: kernel: Call Trace:
Nov 19 12:39:52 :HOSTNAME: kernel: [<ffffffffa006c156>] radeon_get_ring_head+0x16/0x41 [radeon]
Nov 19 12:39:52 :HOSTNAME: kernel: [<ffffffffa006c881>] radeon_commit_ring+0x4d/0x9c [radeon]
Nov 19 12:39:52 :HOSTNAME: kernel: [<ffffffffa006d84a>] radeon_do_cp_idle+0x145/0x152 [radeon]
Nov 19 12:39:52 :HOSTNAME: kernel: [<ffffffffa00709e5>] radeon_apply_surface_regs+0x27/0x13d [radeon]
Nov 19 12:39:52 :HOSTNAME: kernel: [<ffffffffa0070bdd>] free_surface+0xe2/0xf8 [radeon]
Nov 19 12:39:52 :HOSTNAME: kernel: [<ffffffffa0076284>] radeon_driver_lastclose+0x41/0x5b [radeon]
Nov 19 12:39:52 :HOSTNAME: kernel: [<ffffffffa0018f04>] drm_lastclose+0x4f/0x2a0 [drm]
Nov 19 12:39:52 :HOSTNAME: kernel: [<ffffffffa0019997>] drm_release+0x4d6/0x510 [drm]
Nov 19 12:39:52 :HOSTNAME: kernel: [<ffffffff8112b3db>] __fput+0x12a/0x1df
Nov 19 12:39:52 :HOSTNAME: kernel: [<ffffffff8112b4aa>] fput+0x1a/0x1c
Nov 19 12:39:52 :HOSTNAME: kernel: [<ffffffff81127715>] filp_close+0x68/0x72
Nov 19 12:39:52 :HOSTNAME: kernel: [<ffffffff8105b4be>] put_files_struct+0x6a/0xcc
Nov 19 12:39:52 :HOSTNAME: kernel: [<ffffffff8105b55b>] exit_files+0x3b/0x40
Nov 19 12:39:52 :HOSTNAME: kernel: [<ffffffff8105ce2b>] do_exit+0x25e/0x77f
Nov 19 12:39:52 :HOSTNAME: kernel: [<ffffffff810891d1>] ? lockstat_clock+0x11/0x13
Nov 19 12:39:52 :HOSTNAME: kernel: [<ffffffff8147cabb>] ? _spin_unlock_irq+0x30/0x3c
Nov 19 12:39:52 :HOSTNAME: kernel: [<ffffffff8105d3d0>] do_group_exit+0x84/0xb0
Nov 19 12:39:52 :HOSTNAME: kernel: [<ffffffff8106e1ad>] get_signal_to_deliver+0x356/0x375
Nov 19 12:39:52 :HOSTNAME: kernel: [<ffffffff81011042>] do_signal+0x72/0x6af
Nov 19 12:39:52 :HOSTNAME: kernel: [<ffffffff81011caa>] ? sysret_check+0x2e/0x69
Nov 19 12:39:52 :HOSTNAME: kernel: [<ffffffff8108a863>] ? trace_hardirqs_on_caller+0x111/0x135
Nov 19 12:39:52 :HOSTNAME: kernel: [<ffffffff810b568e>] ? audit_syscall_entry+0x11e/0x14a
Nov 19 12:39:52 :HOSTNAME: kernel: [<ffffffff8147c67d>] ? trace_hardirqs_on_thunk+0x3a/0x3f
Nov 19 12:39:52 :HOSTNAME: kernel: [<ffffffff81011d09>] ? sysret_signal+0x5/0x4e
Nov 19 12:39:52 :HOSTNAME: kernel: [<ffffffff810116a9>] do_notify_resume+0x2a/0x7c
Nov 19 12:39:52 :HOSTNAME: kernel: [<ffffffff81011fc1>] int_signal+0x12/0x17
Nov 19 12:39:52 :HOSTNAME: kernel: Code: 1f 44 00 00 f6 87 0e 04 00 00 08 48 8b 87 10 01 00 00 74 0a 89 f6 48 03 70 18 8b 06 eb 0f c1 ee 02 89 f6 48 c1 e6 02 48 03 70 18 <8b> 06 c9 c3 55 48 89 e5 0f 1f 44 00 00 83 7f 74 00 74 09 31 f6
Nov 19 12:39:52 :HOSTNAME: kernel: RIP  [<ffffffffa006c13c>] radeon_read_ring_rptr+0x30/0x34 [radeon]
Nov 19 12:39:52 :HOSTNAME: kernel: RSP <ffff88007a3d9ad0>
Nov 19 12:39:52 :HOSTNAME: kernel: ---[ end trace 371f75a80de6ae14 ]---
Nov 19 12:39:52 :HOSTNAME: kernel: Fixing recursive fault but reboot is needed!
Nov 19 12:40:02 :HOSTNAME: init: tty4 main process (1471) killed by TERM signal
Nov 19 12:40:02 :HOSTNAME: init: tty5 main process (1473) killed by TERM signal
Nov 19 12:40:02 :HOSTNAME: init: tty2 main process (1474) killed by TERM signal
Nov 19 12:40:02 :HOSTNAME: init: tty3 main process (1475) killed by TERM signal
Nov 19 12:40:02 :HOSTNAME: init: tty6 main process (1476) killed by TERM signal
Nov 19 12:40:02 :HOSTNAME: avahi-daemon[1097]: Got SIGTERM, quitting.
Nov 19 16:02:36 :HOSTNAME: kernel: [drm] Setting GART location based on new memory map
Nov 19 16:02:36 :HOSTNAME: kernel: [drm] Loading R500 Microcode
Nov 19 16:02:36 :HOSTNAME: kernel: platform radeon_cp.0: firmware: requesting radeon/R520_cp.bin
Nov 19 16:02:36 :HOSTNAME: kernel: [drm] Num pipes: 1
Nov 19 16:02:36 :HOSTNAME: kernel: [drm] writeback test succeeded in 1 usecs
Nov 19 16:02:36 :HOSTNAME: avahi-daemon[1051]: Registering new address record for fec0::f101:215:58ff:fec8:1bf on eth0.*.
Nov 19 16:02:36 :HOSTNAME: avahi-daemon[1051]: Withdrawing address record for fe80::215:58ff:fec8:1bf on eth0.
Nov 19 16:02:37 :HOSTNAME: ntpd[1337]: Listening on interface #7 eth0, fec0::f101:215:58ff:fec8:1bf#123 Enabled
Nov 19 16:02:43 :HOSTNAME: gnome-session[1600]: WARNING: Could not launch application 'gnome-power-manager.desktop': Unable to start application: Failed to execute child process "gnome-power-manager" (No such file or directory)
Nov 19 16:02:45 :HOSTNAME: auditd[1662]: Started dispatcher: /sbin/audispd pid: 1664
Nov 19 16:02:45 :HOSTNAME: audispd: audispd initialized with q_depth=80 and 1 active plugins
Nov 19 16:02:45 :HOSTNAME: auditd[1662]: Init complete, auditd 2.0.1 listening for events (startup state enable)
Nov 19 16:02:46 :HOSTNAME: kernel: CE: hpet increasing min_delta_ns to 15000 nsec
Nov 19 16:03:39 :HOSTNAME: restorecond: Unable to watch (/home/jmoskovc/public_html/*) No such file or directory
Nov 19 16:04:03 :HOSTNAME: kernel: [drm] Num pipes: 1
Nov 19 16:04:04 :HOSTNAME: kernel: Process 1503(Xorg) has RLIMIT_CORE set to 0
Nov 19 16:04:04 :HOSTNAME: kernel: Aborting core
Nov 19 16:04:04 :HOSTNAME: kernel: general protection fault: 0000 [#1] SMP
Nov 19 16:04:04 :HOSTNAME: kernel: last sysfs file: /sys/devices/system/cpu/cpu0/cpufreq/scaling_cur_freq
Nov 19 16:04:04 :HOSTNAME: kernel: CPU 1
Nov 19 16:04:04 :HOSTNAME: kernel: Modules linked in: ipt_MASQUERADE iptable_nat nf_nat bridge stp llc vboxnetadp vboxnetflt vboxdrv sunrpc xt_physdev ip6t_REJECT nf_conntrack_ipv6 ip6table_filter ip6_tables ipv6 cpufreq_ondemand acpi_cpufreq freq_table dm_multipath kvm_intel kvm snd_hda_codec_analog snd_hda_intel snd_hda_codec snd_hwdep snd_seq snd_seq_device arc4 ppdev snd_pcm btusb ecb bluetooth irda crc_ccitt thinkpad_acpi hwmon parport_pc parport joydev i2c_i801 iwl3945 iwlcore mac80211 snd_timer iTCO_wdt cfg80211 iTCO_vendor_support snd rfkill soundcore e1000e snd_page_alloc yenta_socket rsrc_nonstatic video output radeon ttm drm_kms_helper drm i2c_algo_bit i2c_core [last unloaded: microcode]
Nov 19 16:04:04 :HOSTNAME: kernel: Pid: 1503, comm: Xorg Not tainted 2.6.32-0.51.rc7.git2.fc13.x86_64 #1 2007CTO
Nov 19 16:04:04 :HOSTNAME: kernel: RIP: 0010:[<ffffffffa006c13c>]  [<ffffffffa006c13c>] radeon_read_ring_rptr+0x30/0x34 [radeon]
Nov 19 16:04:04 :HOSTNAME: kernel: RSP: 0018:ffff88007a3b3ad0  EFLAGS: 00010202
Nov 19 16:04:04 :HOSTNAME: kernel: RAX: ffff88007a239088 RBX: ffff8800792b8848 RCX: ffffc90006dfe000
Nov 19 16:04:04 :HOSTNAME: kernel: RDX: 0000000000000028 RSI: 6b6b6b6b6b6b6b6b RDI: ffff8800792b8848
Nov 19 16:04:04 :HOSTNAME: kernel: RBP: ffff88007a3b3ad0 R08: ffff8800792b8a58 R09: 0000000000000010
Nov 19 16:04:04 :HOSTNAME: kernel: R10: ffffffffffffffff R11: 0000000000000000 R12: 0000000000000010
Nov 19 16:04:04 :HOSTNAME: kernel: R13: ffff88007950e1b0 R14: ffff8800792b89c8 R15: ffff88007950e3a0
Nov 19 16:04:04 :HOSTNAME: kernel: FS:  00007f1802da67e0(0000) GS:ffff880006200000(0000) knlGS:0000000000000000
Nov 19 16:04:04 :HOSTNAME: kernel: CS:  0010 DS: 0000 ES: 0000 CR0: 0000000080050033
Nov 19 16:04:04 :HOSTNAME: kernel: CR2: 00000000007cc4b0 CR3: 0000000001001000 CR4: 00000000000026e0
Nov 19 16:04:04 :HOSTNAME: kernel: DR0: 0000000000000000 DR1: 0000000000000000 DR2: 0000000000000000
Nov 19 16:04:04 :HOSTNAME: kernel: DR3: 0000000000000000 DR6: 00000000ffff0ff0 DR7: 0000000000000400
Nov 19 16:04:04 :HOSTNAME: kernel: Process Xorg (pid: 1503, threadinfo ffff88007a3b2000, task ffff880079c9c9c0)
Nov 19 16:04:04 :HOSTNAME: kernel: Stack:
Nov 19 16:04:04 :HOSTNAME: kernel: ffff88007a3b3ae0 ffffffffa006c156 ffff88007a3b3af8 ffffffffa006c881
Nov 19 16:04:04 :HOSTNAME: kernel: <0> ffff8800792b8848 ffff88007a3b3b18 ffffffffa006d84a 0000000000000000
Nov 19 16:04:04 :HOSTNAME: kernel: <0> ffff8800792b8848 ffff88007a3b3b38 ffffffffa00709e5 ffff8800792b8848
Nov 19 16:04:04 :HOSTNAME: kernel: Call Trace:
Nov 19 16:04:04 :HOSTNAME: kernel: [<ffffffffa006c156>] radeon_get_ring_head+0x16/0x41 [radeon]
Nov 19 16:04:04 :HOSTNAME: kernel: [<ffffffffa006c881>] radeon_commit_ring+0x4d/0x9c [radeon]
Nov 19 16:04:04 :HOSTNAME: kernel: [<ffffffffa006d84a>] radeon_do_cp_idle+0x145/0x152 [radeon]
Nov 19 16:04:04 :HOSTNAME: kernel: [<ffffffffa00709e5>] radeon_apply_surface_regs+0x27/0x13d [radeon]
Nov 19 16:04:04 :HOSTNAME: kernel: [<ffffffffa0070bdd>] free_surface+0xe2/0xf8 [radeon]
Nov 19 16:04:04 :HOSTNAME: kernel: [<ffffffffa0076284>] radeon_driver_lastclose+0x41/0x5b [radeon]
Nov 19 16:04:04 :HOSTNAME: kernel: [<ffffffffa0018f04>] drm_lastclose+0x4f/0x2a0 [drm]
Nov 19 16:04:04 :HOSTNAME: kernel: [<ffffffffa0019997>] drm_release+0x4d6/0x510 [drm]
Nov 19 16:04:04 :HOSTNAME: kernel: [<ffffffff8112b3db>] __fput+0x12a/0x1df
Nov 19 16:04:04 :HOSTNAME: kernel: [<ffffffff8112b4aa>] fput+0x1a/0x1c
Nov 19 16:04:04 :HOSTNAME: kernel: [<ffffffff81127715>] filp_close+0x68/0x72
Nov 19 16:04:04 :HOSTNAME: kernel: [<ffffffff8105b4be>] put_files_struct+0x6a/0xcc
Nov 19 16:04:04 :HOSTNAME: kernel: [<ffffffff8105b55b>] exit_files+0x3b/0x40
Nov 19 16:04:04 :HOSTNAME: kernel: [<ffffffff8105ce2b>] do_exit+0x25e/0x77f
Nov 19 16:04:04 :HOSTNAME: kernel: [<ffffffff810891d1>] ? lockstat_clock+0x11/0x13
Nov 19 16:04:04 :HOSTNAME: kernel: [<ffffffff8147cabb>] ? _spin_unlock_irq+0x30/0x3c
Nov 19 16:04:04 :HOSTNAME: kernel: [<ffffffff8105d3d0>] do_group_exit+0x84/0xb0
Nov 19 16:04:04 :HOSTNAME: kernel: [<ffffffff8106e1ad>] get_signal_to_deliver+0x356/0x375
Nov 19 16:04:04 :HOSTNAME: kernel: [<ffffffff81011042>] do_signal+0x72/0x6af
Nov 19 16:04:04 :HOSTNAME: kernel: [<ffffffff81011caa>] ? sysret_check+0x2e/0x69
Nov 19 16:04:04 :HOSTNAME: kernel: [<ffffffff8108a863>] ? trace_hardirqs_on_caller+0x111/0x135
Nov 19 16:04:04 :HOSTNAME: kernel: [<ffffffff810b568e>] ? audit_syscall_entry+0x11e/0x14a
Nov 19 16:04:04 :HOSTNAME: kernel: [<ffffffff8147c67d>] ? trace_hardirqs_on_thunk+0x3a/0x3f
Nov 19 16:04:04 :HOSTNAME: kernel: [<ffffffff81011d09>] ? sysret_signal+0x5/0x4e
Nov 19 16:04:04 :HOSTNAME: kernel: [<ffffffff810116a9>] do_notify_resume+0x2a/0x7c
Nov 19 16:04:04 :HOSTNAME: kernel: [<ffffffff81011fc1>] int_signal+0x12/0x17
Nov 19 16:04:04 :HOSTNAME: kernel: Code: 1f 44 00 00 f6 87 0e 04 00 00 08 48 8b 87 10 01 00 00 74 0a 89 f6 48 03 70 18 8b 06 eb 0f c1 ee 02 89 f6 48 c1 e6 02 48 03 70 18 <8b> 06 c9 c3 55 48 89 e5 0f 1f 44 00 00 83 7f 74 00 74 09 31 f6
Nov 19 16:04:04 :HOSTNAME: kernel: RIP  [<ffffffffa006c13c>] radeon_read_ring_rptr+0x30/0x34 [radeon]
Nov 19 16:04:04 :HOSTNAME: kernel: RSP <ffff88007a3b3ad0>
Nov 19 16:04:04 :HOSTNAME: kernel: ---[ end trace f5193fb73929a56e ]---
Nov 19 16:04:04 :HOSTNAME: kernel: Fixing recursive fault but reboot is needed!
Nov 19 16:04:31 :HOSTNAME: abrtd: Directory 'kerneloops-1258643071-1' creation detected
Nov 19 16:04:31 :HOSTNAME: abrtd: Getting local universal unique identification
Nov 19 16:04:31 :HOSTNAME: abrtd: New crash, saving
Nov 19 16:04:32 :HOSTNAME: kernel: ACPI: \_SB_.GDCK - undocking
Nov 19 16:04:32 :HOSTNAME: kernel: usb 1-6: USB disconnect, address 2
Nov 19 16:04:32 :HOSTNAME: kernel: usb 1-6.4: USB disconnect, address 5
Nov 19 16:04:34 :HOSTNAME: kernel: e1000e: eth0 NIC Link is Down
