Oct 25 13:39:31 :HOSTNAME: kernel: Starting machine check poll CPU 0
Oct 25 13:39:31 :HOSTNAME: kernel: Machine check poll done on CPU 0
Oct 25 13:39:31 :HOSTNAME: kernel: mce: [Hardware Error]: Machine check events logged
Oct 25 13:39:31 :HOSTNAME: mcelog[9946]: Hardware event. This is not a software error.
Oct 25 13:39:31 :HOSTNAME: mcelog[9946]: MCE 0
Oct 25 13:39:31 :HOSTNAME: mcelog[9946]: CPU 0 BANK 0
Oct 25 13:39:31 :HOSTNAME: mcelog[9946]: TIME 1540467571 Thu Oct 25 13:39:31 2018
Oct 25 13:39:31 :HOSTNAME: mcelog[9946]: MCG status:
Oct 25 13:39:31 :HOSTNAME: mcelog[9946]: MCi status:
Oct 25 13:39:31 :HOSTNAME: mcelog[9946]: Error overflow
Oct 25 13:39:31 :HOSTNAME: mcelog[9946]: Corrected error
Oct 25 13:39:31 :HOSTNAME: mcelog[9946]: Error enabled
Oct 25 13:39:31 :HOSTNAME: mcelog[9946]: MCA: No Error
Oct 25 13:39:31 :HOSTNAME: mcelog[9946]: STATUS d000000000000000 MCGSTATUS 0
Oct 25 13:39:31 :HOSTNAME: mcelog[9946]: MCGCAP 100010a APICID 0 SOCKETID 0
Oct 25 13:39:31 :HOSTNAME: mcelog[9946]: CPUID Vendor Intel Family 6 Model 94
Oct 25 13:39:31 :HOSTNAME: mcelog[9946]: mcelog: warning: 8 bytes ignored in each record
Oct 25 13:39:31 :HOSTNAME: mcelog[9946]: mcelog: consider an update
