Mar 16 23:27:35 :HOSTNAME: kernel: agpgart-ati 0000:00:00.0: AGP 2.0 bridge
Mar 16 23:27:35 :HOSTNAME: kernel: agpgart-ati 0000:00:00.0: putting AGP V2 device into 4x mode
Mar 16 23:27:35 :HOSTNAME: kernel: pci 0000:01:05.0: putting AGP V2 device into 4x mode
Mar 16 23:27:36 :HOSTNAME: kernel: [drm] Setting GART location based on new memory map
Mar 16 23:27:36 :HOSTNAME: kernel: [drm] Loading R100 Microcode
Mar 16 23:27:36 :HOSTNAME: kernel: platform radeon_cp.0: firmware: requesting radeon/R100_cp.bin
Mar 16 23:27:37 :HOSTNAME: kernel: [drm] writeback test succeeded in 1 usecs
Mar 16 23:28:08 :HOSTNAME: gnome-session[1443]: WARNING: Could not launch application 'gnome-power-manager.desktop': Unable to start application: Failed to execute child process "gnome-power-manager" (No such file or directory)
Mar 16 23:28:33 :HOSTNAME: gnome-keyring-daemon[1627]: couldn't set environment variable in session: The name org.gnome.SessionManager was not provided by any .service files
Mar 16 23:28:53 :HOSTNAME: setroubleshoot: SELinux not enabled, setroubleshootd exiting...
Mar 16 23:30:23 :HOSTNAME: ntpd[1330]: synchronized to 77.78.110.71, stratum 2
Mar 16 23:30:23 :HOSTNAME: ntpd[1330]: kernel time sync status change 2001
Mar 16 23:32:46 :HOSTNAME: hald: mounted /dev/sdb1 on behalf of uid 500
Mar 16 23:34:51 :HOSTNAME: kernel: ALSA sound/core/pcm_lib.c:181: BUG: pcmC0D0p:0, pos = 0x4000, buffer size = 0x4000, period size = 0x400
Mar 16 23:34:55 :HOSTNAME: kernel: ALSA sound/core/pcm_lib.c:181: BUG: pcmC0D0p:0, pos = 0x4000, buffer size = 0x4000, period size = 0x400
