<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">

<!--
PolicyKit policy definitions for ABRT

Copyright (c) 2012 ABRT Team <crash-catcher@fedorahosted.com>

-->

<policyconfig>
  <vendor>The ABRT Team</vendor>
  <vendor_url>https://fedorahosted.org/abrt/</vendor_url>

  <!-- by default only root can see other users problems -->
  <action id="org.freedesktop.problems.getall">
    <description>Get problems from all users</description>
    <message>Reading others problems requires authentication</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_active>auth_admin_keep</allow_active>
      <allow_inactive>no</allow_inactive>
    </defaults>
  </action>

  <!-- by default only root can access configuration  -->
  <action id="com.redhat.problems.configuration.update">
    <description>Set value of configuration properties</description>
    <message>Update configuration values reuquires authentication</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_active>auth_admin_keep</allow_active>
      <allow_inactive>no</allow_inactive>
    </defaults>
  </action>

</policyconfig>
